body {
  background-color: #ebebeb;
  --radius-size: 16px;
}

// Web Font
.aktiv {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 200;
  font-style: normal;
}
.aktiv-bold {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
}
